/* ---------- General ---------- */
:root {
    --main-font-color: #2a2a2a;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: var(--main-font-color);
}
@media screen and (min-width: 991px) {
    .wrapper {
        padding-right: var(--bs-gutter-x, 5rem);
        padding-left: var(--bs-gutter-x, 5rem);
    }
}
p {
    text-align: justify;
}
#top, #about, #services, #contact {
    scroll-margin-top: 7rem;
}
.parallax-lg {
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-sm {
    min-height: 40vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.circle-banner {
    background-image: url("../img/background_circle.png");
}
.coffee-banner {
    background-image: url("../img/background_coffee.jpg");
}
.btn-default, .btn-primary {
    display: inline-block;
    color: var(--main-font-color);
    background-color: transparent;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border: 0.15rem solid var(--main-font-color);
    border-radius: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
}
.btn-default:hover, .btn-primary:hover,
.btn-default:focus, .btn-primary:focus {
    color: var(--main-font-color);
    background-color: transparent;
    border: 0.15rem solid var(--main-font-color);
    box-shadow: none;
    text-decoration: none;
    outline: 0;
}
.triple-underline, .triple-underline::before, .triple-underline::after {
    border: 1px solid var(--main-font-color);
}
.triple-underline {
    display: inline-block;
    position: relative;
    width: 11rem;
    margin: 0 0 2rem 0;
    opacity: 0.4;
}
.triple-underline::before, .triple-underline::after {
    width: 8rem;
    margin-left: 1.5rem;
    content: " ";
    display: block;
    position: absolute;
}
.triple-underline::before {
    bottom: 130%;
    margin-bottom: 0.25rem;
}
.triple-underline::after {
    top: 130%;
    margin-top: 0.25rem;
}

/* ---------- Preloader ---------- */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0); }
    50% { -webkit-transform: scale(1); }
}

#preloader {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
    z-index: 999;
}
#preloader-spin {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 999;
    width: 7rem;
    height: 7rem;
    margin: -2.5rem 0 0 -2.5rem;
    border-bottom: 0.5rem solid #ADFFBE;
    border-top: 0.5rem solid #99F0FF;
    border-radius: 100%;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

/* ---------- Logo ---------- */
.logo-brand {
    display: inline-block;
    color: var(--main-font-color);
    text-decoration: none;
    padding-right: 1rem;
    display: table-cell;
    vertical-align: middle;
}
.logo-brand img {
    width: 3.5rem;
    border: 0.1rem solid var(--main-font-color);
    border-radius: 100%;
    margin-right: -0.5rem;
}
.logo-brand h1 {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 0.75rem;
}
.logo-brand p {
    font-size: 1rem;
    line-height: 1rem;
}
.logo-brand:hover,
.logo-brand:focus {
    color: var(--main-font-color);
    text-decoration: none;
    outline: 0;
}

/* ---------- Navbar ---------- */
nav {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
}
.nav-solid {
    max-height: 5rem;
    padding-top: 0.4rem;
    transition: 1s ease;
}
.nav-shadow {
    max-height: 4.5rem;
    padding-top: 0;
    box-shadow: 0 0 0.2rem rgba(0,0,0,.10),0 0.2rem 0.5rem rgba(0,0,0,.30);
    transition: 1s ease;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3rem 0;
    overflow: hidden;
}
nav li {
    font-size: 1rem;
    position: relative;
    padding: 1rem 0 1rem;
    color: var(--main-font-color);
    outline: 0;
    float: right;
}
nav li a {
    display: block;
    color: var(--main-font-color);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
nav li a:hover {
    color: #A367CB;
    border-bottom: 0.1rem solid #A367CB;
}

/* ---------- Banner ---------- */
.banner {
    background-image: url("../img/background_circle.png");
}
.banner div {
    width: 40%;
    color: var(--main-font-color);
    padding-top: 18%;
    margin-right: 44%;
}
.banner h2 {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
}
.banner p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

/* ---------- About ---------- */
#about {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#about h2 {
    text-align: center;
}
#about div div p {
    padding-right: 1rem;
}
blockquote {
    border-left: 0.2rem solid #cccccc;
    margin: 1.5rem 1rem;
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
blockquote span {
    color:#99F0FF;
    vertical-align: top;
}

#progress-items {
    margin-left: 1rem;
}
#progress-items h4 {
    font-size: 1rem;
    line-height: 1rem;
}
#progress-items h4 {
    margin-top: 0;
    margin-bottom: 0.2rem;
}
.progress {
    background-color: #dadada;
    height: 0.4rem;
    margin-bottom: 1rem;
    overflow: visible;
}
.progress-bar {
    position: relative;
    width: 5%;
    background-color: var(--main-font-color);
    overflow: visible;
}
.progress-bar span {
    position: absolute;
    background-color: var(--main-font-color);
    top: -1.18rem;
    right: 0.5rem;
    border-radius: 25%;
    transform: scale(1.5);
    width: 2rem;
    height: 1.25rem;
}
@media screen and (max-width: 991px) {
    .progress-bar span {
        display: none;
    }
}

/* ---------- Services ---------- */
#services {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#services h2 {
    text-align: center;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 2rem;
}
.services-grid i {
    width: 2rem;
    font-size: 2rem;
    line-height: 0;
    text-align: center;
}
.services-grid p {
    margin-left: 3rem;
}
.services-grid h3 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* ---------- Contact ---------- */
#contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* ---------- Footer ---------- */
footer#bottom {
    padding: 25px 0;
    width: 100%;
    color: #ffffff;
    background-color: var(--main-font-color);
}
.copyright {
    text-align: center;
}
.copyright a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
.backToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    min-width: 3rem;
    padding: 6px 0 8px;
    background-color: #eeeeee;
    font-size: 2rem;
    line-height: 0;
    text-align: center;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease;
}
.backToTop-hidden {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    min-width: 3rem;
    padding: 6px 0 8px;
    background-color: #eeeeee;
    font-size: 2rem;
    line-height: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
}