/* ---------- General ---------- */
:root {
    --primary-color: #2a2a2a;
    --secondary-color: #eeeeee;
    --secondary-contrast-color: #f1f1f1;
    --pale-green: #ADFFBE;
    --pale-blue: #99F0FF;
    --green: #79ff94;
    --blue: #70eaff;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: 1s ease;
}
@media screen and (min-width: 991px) {
    .wrapper {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}
.hidden {
    display: none;
}
.darken-image {
    filter: brightness(50%);
    transition: 1s ease;
}
.green {
    color: var(--green);
}
.blue {
    color: var(--blue);
}
#top, #about, #services, #contact {
    scroll-margin-top: 7rem;
}
.parallax-lg {
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-sm {
    min-height: 40vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.circle-banner {
    background-image: url("../img/background_circle.png");
}
.coffee-banner {
    background-image: url("../img/background_coffee.jpg");
}
.btn-default, .btn-primary {
    display: inline-block;
    color: var(--primary-color);
    background-color: transparent;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border: 0.15rem solid var(--primary-color);
    border-radius: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
}
.btn-default:hover, .btn-primary:hover, .btn-social:hover,
.btn-default:focus, .btn-primary:focus, .btn-social:focus {
    color: var(--primary-color);
    background-color: transparent;
    border: 0.15rem solid var(--primary-color);
    box-shadow: none;
    text-decoration: none;
    outline: 0;
}
.btn-default:active, .btn-primary:active, .btn-social:active {
    box-shadow: 1px 1px 1px 1px #888888;
}
.triple-underline, .triple-underline::before, .triple-underline::after {
    border: 1px solid var(--primary-color);
}
.triple-underline {
    display: inline-block;
    position: relative;
    width: 11rem;
    margin: 0 0 2rem 0;
    opacity: 0.4;
}
.triple-underline::before, .triple-underline::after {
    width: 8rem;
    margin-left: 1.5rem;
    content: " ";
    display: block;
    position: absolute;
}
.triple-underline::before {
    bottom: 130%;
    margin-bottom: 0.25rem;
}
.triple-underline::after {
    top: 130%;
    margin-top: 0.25rem;
}

/* ---------- Preloader ---------- */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0); }
    50% { -webkit-transform: scale(1); }
}

#preloader {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
    z-index: 999;
}
#preloader-spin {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 999;
    width: 7rem;
    height: 7rem;
    margin: -2.5rem 0 0 -2.5rem;
    border-bottom: 0.5rem solid var(--pale-green);
    border-top: 0.5rem solid var(--pale-blue);
    border-radius: 100%;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

/* ---------- Logo ---------- */
.logo-brand {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    padding-right: 1rem;
    display: table-cell;
    vertical-align: middle;
}
.logo-brand img {
    width: 3.5rem;
    border: 0.1rem solid #2a2a2a;
    border-radius: 100%;
    margin-right: -0.5rem;
}
.logo-brand h1 {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 0.75rem;
}
.logo-brand p {
    font-size: 1rem;
    line-height: 1rem;
}
.logo-brand:hover,
.logo-brand:focus {
    color: var(--primary-color);
    text-decoration: none;
    outline: 0;
}

/* ---------- Navbar ---------- */
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.nav-solid {
    max-height: 5rem;
    background-color: transparent;
    padding-top: 0.4rem;
    transition: 1s ease;
}
.nav-shadow {
    max-height: 4.5rem;
    background-color: var(--secondary-color);
    padding-top: 0;
    box-shadow: 0 0 0.2rem rgba(0,0,0,.20),0 0.2rem 0.5rem rgba(0,0,0,.50);
    transition: 1s ease;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3rem 0;
}
nav li {
    font-size: 1rem;
    position: relative;
    padding: 1rem 0 1rem;
    color: var(--primary-color);
    outline: 0;
    float: right;
}
nav li a {
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
nav li a:hover {
    color: #A367CB;
    border-bottom: 0.1rem solid #A367CB;
}
.dropdown-menu {
    border-radius: 5%
}
.dropdown-item {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    font-size: 1.5rem;
    padding: 1rem;
}
.dropdown-item:hover {
    background-color: var(--secondary-color);
    color:var(--primary-color);
}
.dropdown-item:active {
    background-color: var(--secondary-color);
    color: #A367CB;
    border-bottom: 0.1rem solid #A367CB;
}
#nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: center;
    vertical-align: middle;
}
#nav-hamburger, #day-mode, #night-mode {
    height: 2.5rem;
    min-width: 3rem;
    margin-bottom: 0.25rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-radius: 20%;
}
@media screen and (min-width: 2400px) {
    nav {
        padding: 0rem 30rem;
    }
}
@media screen and (min-width: 1780px) and (max-width: 2400px) {
    nav {
        padding: 0rem 25rem;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1780px) {
    nav {
        padding: 0rem 20rem;
    }
}
@media screen and (min-width: 1450px) and (max-width: 1600px) {
    nav {
        padding: 0rem 15rem;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1450px) {
    nav {
        padding: 0rem 10rem;
    }
}
@media screen and (min-width: 1150px) and (max-width: 1280px) {
    nav {
        padding: 0rem 6rem;
    }
}
@media screen and (min-width: 991px) and (max-width: 1150px) {
    .logo-brand img {
        width: 2.8rem;
        margin-top: -0.5rem;
    }
    .logo-brand h1 {
        font-size: 1rem;
    }
    .logo-brand p {
        font-size: 1rem;
    }
    nav {
        padding: 3rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    nav li {
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 991px) {
    #nav-hamburger {
        display: none;
    }
}
@media screen and (min-width: 566px) and (max-width: 991px) {
    nav {
        padding: 3rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    .logo-brand img {
        width: 2.8rem;
        margin-top: -0.5rem;
    }
    .logo-brand h1 {
        font-size: 1rem;
    }
    .logo-brand p {
        font-size: 0.8rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    #nav-menu {
        display: none;
    }
    #nav-hamburger {
        margin-bottom: 1rem;
    }
    #day-mode, #night-mode {
        margin-bottom: 1.5rem;
    }
}
@media screen and (min-width: 458px) and (max-width: 566px) {
    nav {
        padding: 1rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    .logo-brand {
        max-width: 50%;
    }
    .logo-brand img {
        width: 2.8rem;
        margin-top: -0.5rem;
    }
    .logo-brand h1 {
        font-size: 1rem;
    }
    .logo-brand p {
        font-size: 0.7rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    #nav-menu {
        display: none;
    }
    #day-mode, #night-mode {
        margin-bottom: 0.75rem;
    }
    #nav-hamburger {
        margin-bottom: 1rem;
    }
    #day-mode, #night-mode {
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 458px) {
    nav {
        padding: 1rem;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    .logo-brand {
        max-width: 50%;
    }
    .logo-brand img {
        width: 2.8rem;
        margin-top: 0.25rem;
    }
    .logo-brand h1 {
        margin-top: -0.5rem;
        font-size: 1.2rem;
    }
    .logo-brand p {
        display: none;
    }
    .nav-solid {
        max-height: 4rem;
        padding-top: 0rem;
    }
    .nav-shadow {
        max-height: 3.5rem;
    }
    #nav-menu {
        display: none;
    }
    #nav-hamburger {
        margin-left: -0.75rem;
        margin-bottom: 1rem;
    }
    #day-mode, #night-mode {
        margin-left: -0.75rem;
        margin-bottom: 1.5rem;
    }
}

/* ---------- Banner ---------- */
.banner div {
    width: 40%;
    color: var(--primary-color);
    padding-top: 18%;
    margin-right: 44%;
}
.banner h2 {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
}
.banner p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
@media screen and (min-width: 1200px) and (max-width: 1590px) {
    .banner h2 {
        font-size: 2.2rem;
        margin-top: 4rem;
    }
}
@media screen and (min-width: 630px) and (max-width: 1200px) {
    .banner div {
        width: 70%;
        color: var(--primary-color);
        padding-top: 23%;
        margin-right: 15%;
    }
    .banner h2 {
        font-size: 2rem;
        margin-top: 4rem;
    }
    .banner p {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 630px) {
    .banner {
        background-position-x: 25%;
    }
    .banner div {
        width: 60%;
        color: var(--primary-color);
        padding-top: 40%;
        margin-right: 20%;
    }
    .banner h2 {
        font-size: 1.6rem;
        margin-top: 4rem;
    }
    .banner p {
        font-size: 1rem;
    }
}

/* ---------- About ---------- */
#about {
    padding-top: 3rem;
}
#about h2 {
    text-align: center;
}
#about div div p {
    padding-right: 1rem;
}
blockquote {
    border-left: 0.2rem solid #cccccc;
    margin: 1.5rem 1rem;
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
blockquote span {
    color:#99F0FF;
    vertical-align: top;
}
#progress-items h4 {
    font-size: 1rem;
    line-height: 1rem;
}
#progress-items h4 {
    margin-top: 0;
    margin-bottom: 0.2rem;
}
.progress {
    background-color: #888888;
    height: 0.4rem;
    margin-bottom: 1rem;
    overflow: visible;
}
.progress-bar {
    position: relative;
    width: 5%;
    background-color: var(--primary-color);
    overflow: visible;
}
.progress-bar span {
    position: absolute;
    background-color: var(--primary-color);
    top: -1.18rem;
    right: 0.5rem;
    border-radius: 25%;
    transform: scale(1.5);
    width: 2rem;
    height: 1.25rem;
}
@media screen and (min-width: 991px) {
    #progress-items {
        margin-left: 1rem;
    }
}
@media screen and (max-width: 991px) {
    .progress-bar span {
        display: none;
    }
}

/* ---------- Resume ---------- */
#resume {
    padding-bottom: 3rem;
}
#resume h3 {
    margin-bottom: 1rem;
}
#resume hr {
    width: 66%;
    margin-left: 33%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
#resume .col-md-6 {
    overflow: hidden;
}
.resume-item {
    margin: 0 2rem;
    padding: 2rem;
    padding-bottom: 99rem;
    margin-bottom: -99rem;
    background-color: var(--secondary-contrast-color);
    transition: 1s ease;
}
.resume-item h6 {
    padding-right: 1rem;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
    .resume-item h6 {
        font-size: 0.8rem;
    }
}

/* ---------- Services ---------- */
#services {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#services h2 {
    text-align: center;
}
#services div {
    padding: 1rem;
}
#services i {
    width: 2rem;
    font-size: 2rem;
    line-height: 0;
    text-align: center;
}
#services h3 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
}
@media screen and (min-width: 1400px) {
    #services p {
        margin: 0 1rem 3rem 3rem;
    }
}

/* ---------- Contact ---------- */
#contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#contact h2 {
    text-align: center;
}
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn-social {
    display: inline-block;
    color: var(--primary-color);
    background-color: transparent;
    padding: 0.3rem 6rem 0.3rem 6rem;
    border: 0.15rem solid var(--primary-color);
    border-radius: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6rem;
    margin: 1rem;
}
#contact hr {
    margin: 3rem 0 4rem 0;
}
#contact input, #contact textarea {
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
    #contact hr {
        display: none;
    }
}

/* ---------- Footer ---------- */
footer#bottom {
    padding: 25px 0;
    width: 100%;
    color: #eeeeee;
    background-color: #2a2a2a;
}
.copyright {
    text-align: center;
}
.copyright a {
    color: #eeeeee;
    font-weight: 700;
    text-decoration: none;
}
.backToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    min-width: 3rem;
    padding: 6px 0 8px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 2rem;
    line-height: 0;
    text-align: center;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease;
}
.backToTop-hidden {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    min-width: 3rem;
    padding: 6px 0 8px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 2rem;
    line-height: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
}
.backToTop:hover, .backToTop:focus, .backToTop:active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}